/* IMPOSTAZIONI GENERALI */
html {
  font-size: 62.5%;
}
body {
  font-family: Poppins, "Helvetica Neue", sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
  padding: 15px;
  background-image: url("../img/sfondo.png");
  background-position: center center;
}
* {
  box-sizing: border-box;
}
hr {
  display: none;
} /* rimuove l'elemento */

/* HEADER */
header {
  background: rgb(0, 160, 198);
  background: linear-gradient(180deg, rgba(0, 160, 198, 1) 0%, rgba(3, 109, 134, 1) 68%);
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  box-shadow: 0 3px 3px #444;
  margin-bottom: 1.5em;
  padding: 2em 1.5em;
}
header div img {
  margin-bottom: 20px;
}
header nav ul {
  margin: 0;
}
header nav li {
  list-style: none;
}
header nav li a {
  color: white;
  text-decoration: none;
}
header nav li a:hover {
  color: red;
}
header nav li a::before {
  content: "\22c6\0020";
}

/* MAIN */
main {
  background-color: #fff;
  box-shadow: 0 3px 3px #444;
  padding: 2em 1em;
  margin-bottom: 1.5em;
}

section {
  background-color: #e3e3e3;
  padding: 1em;
  margin-bottom: 2em;
}
section h2 {
  text-align: center;
  color: #333;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1em;
}

/* ELEMENTI NEL MAIN - ARTICLE */
h1 {
  font-size: 2.6rem;
  font-weight: bold;
  letter-spacing: -0.03em;
  margin-bottom: 0.7em;
}
p,
address,
ul,
ol,
dl,
blockquote {
  margin-bottom: 1.2em;
}
h1 + p {
  color: #a0a0a0;
}
ul,
ol {
  margin-left: 2em;
}
a {
  color: #00a0c6;
  font-weight: bold;
}
strong {
  color: #a02571;
  font-weight: bold;
}
code {
  background-color: #e3e3e3;
  border: 1px solid #969494;
  border-radius: 5px;
}
iframe {
  width: 100%;
  height: auto;
  margin-bottom: 2em;
  border-radius: 20px;
}

.html5 {
  border: 4px solid #630721;
  width: 88px;
  height: 88px;
  padding: 0px;
}
.html5 img {
  border: 4px solid #039ec4;
}

/* TABELLE */
table {
  margin-bottom: 2em;
}
caption {
  font-weight: bold;
  font-style: italic;
}
thead tr {
  background-color: #3f6bca;
  color: #ffffff;
}
th,
td {
  padding: 12px 15px;
  vertical-align: bottom;
  text-align: center;
}
tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #3f6bca;
}

/* FORM */
input {
  padding: 5px;
  border: 0;
  border-bottom: 1px dashed #333;
}
button {
  padding: 4px 7px;
  background-color: #3f6bca;
  border: 0;
  color: white;
  font-weight: bold;
}

/* ELEMENTI NELL' ASIDE */
aside h2 {
  text-align: center;
  color: #333;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1em;
}
aside div {
  background-color: #e3e3e3;
  border: 1px solid #c3c3c3;
  margin-bottom: 1em;
  padding: 1em;
}
aside div p:last-child {
  margin-bottom: 0;
  font-size: 0.8em;
  text-align: right;
}

/* FOOTER */
footer {
  background: rgb(53, 53, 53);
  background: linear-gradient(0deg, rgba(53, 53, 53, 1) 0%, rgba(5, 85, 103, 1) 68%);
  box-shadow: 0 3px 3px #444;
  color: #f0f0f0;
  padding: 1em;
  text-align: center;
  font-size: 1.2rem;
}
footer a {
  color: fuchsia;
}
@media (max-width: 639px) {
  header {
    text-align: center;
    justify-content: center;
    vertical-align: middle;
  }
  header div {
    margin: auto;
  }
  header nav ul {
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    margin-inline: 27%;
  }

  header ul li {
    float: left;
  }
  header ul li a {
    display: block;
    text-align: center;
    padding-left: 20px;
    text-decoration: none;
  }
  table {
    display: block;
    min-width: 300px;
    /* width: 70%;
    margin-inline: 10%; */
  }
  th {
    padding: 3px;
    font-size: 16px;
  }
  h1 {
    font-size: 30px;
    width: 16ch;
  }
  article {
    font-size: 10px;
    line-height: 1.6;
  }
  main article section h2 {
    background-color: rgb(169, 169, 169);
  }
  aside h2 {
    font-size: 22px;
  }
  main div {
    font-size: 12px;
  }
  footer address {
    width: 100%;
  }
}
@media (min-width: 640px) {
  header {
    text-align: center;
    padding-inline: 33%;
  }
  header ul {
    list-style-type: none;
    overflow: hidden;
  }

  header ul li {
    float: left;
  }

  header ul li a {
    display: block;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
  }

  h1 {
    font-size: 50px;
    width: 16ch;
  }
  article {
    font-size: 17px;
    font-size: 2.4rem;
  }

  article h2 {
    font-weight: 800;
  }
  table {
    width: 68%;
    margin-inline: 15%;
  }
  main {
    padding: 15px;
  }
  main article section h2 {
    background-color: rgba(226, 226, 226, 0);
  }
  #user_email {
    width: 80%;
    height: 40px;
  }
  section fieldset button {
    height: 40px;
  }
  main h2:last-of-type {
    font-size: 30px;
  }
  main div p {
    font-size: 23px;
  }
  main div a {
    font-size: 21px;
  }
  footer {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  body {
    padding-inline: 80px;
  }
  article h2 {
    font-weight: 800;
  }
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
  }
  header div {
    display: flex;
    margin: 0;
  }
  header div img {
    margin-block: 5px;
  }
  header p {
    margin: 0px;
    padding-block: 23px;
  }
  nav {
    display: inline-block;
  }
  header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
  }

  header ul li {
    float: left;
    text-align: center;
  }

  header ul li a {
    display: block;
    padding: 23px 16px;
    text-decoration: none;
  }
  h1 {
    font-size: 50px;
    width: 30ch;
    margin: 0;
  }
  article {
    font-size: 18px;
    line-height: 2;
  }
  main article section h2 {
    margin-bottom: 0px;
  }
  main h2:last-of-type {
    font-size: 16px;
  }
  table {
    width: 70%;
    margin-inline: 15%;
  }
  main article iframe {
    display: inline;
    width: 47%;
    height: 225px;
    padding-left: 0px;
    border-radius: 10% 10% 10% 10% / 10% 10% 10% 10%;
    margin-left: 3%;
    margin-bottom: 20px;
  }
  main article section {
    margin-bottom: 20px;
    margin-right: 3%;
    height: 225px;
    display: inline;
    width: 47%;
    float: right;
    border-radius: 10% 10% 10% 10% / 10% 10% 10% 10%;
  }
  main article section h2 {
    background-color: rgb(169, 169, 169);
  }
  fieldset {
    margin: 0px;
    padding: 0px;
    width: 80%;
  }
  #user_email {
    width: 80%;
  }

  aside {
    padding-inline: 4px;
  }
  aside div {
    display: inline-block;
    min-width: 32.4%;
    margin-inline: -2px;
  }
  aside div p {
    font-size: 14px;
  }
  aside div a {
    font-size: 13px;
  }
  aside h2 {
    text-align: center;
  }
  footer address {
    margin-inline: 18%;
    max-width: 83ch;
    line-height: 2;
  }
}
